services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"

  test-app:
    build:
      context: ./test-app
    container_name: test-app
    environment:
      - MONGO_URI=mongodb://mongodb:27017/
      - MONGO_DB=testdb
      - MONGO_COLLECTION=testcollection
    depends_on:
      - mongodb
    ports:
      - "8002:8002"

  service-b:
    build:
      context: ./service-b
    container_name: service-b
    environment:
      - SERVICE_C_URL=http://test-app:8002
    depends_on:
      - test-app
    ports:
      - "8001:8001"

  service-a:
    build:
      context: ./service-a
    container_name: service-a
    environment:
      - test_app_URL=http://service-b:8001
    depends_on:
      - service-b
    ports:
      - "8000:8000"